.stock {
    margin-top: 10px;
}

.stock_main {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.stock-header-title {
    margin-bottom: 10px;
}

.stock-header-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    align-items: center;
}

.card {
    border: none;
}

.card-header {
    font-size: 1.2rem;
    font-weight: 600;
}

.card-body {
    font-size: 1rem;
    color: #333;
}

.card-text {
    font-size: 1.1rem;
    color: #555;
}

.card-body p {
    margin-bottom: 10px;
}

.stock-search {
    width: 50% !important;
    padding: 7px !important;
    border: 1px solid gray !important;
}

.stock-search:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: 1px solid gray !important;
}